.upload-skin {
	margin: 0;
	padding: 0;
	width: 100%;
}
.upload-skin .swfupload{
	float:left;
	margin: 6px 10px;
}
.upload-skin ul{
	list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.upload-skin li:not(.spanButtonPlaceholder) {
	list-style-position: inside;
	box-shadow: 1px 1px 5px #9C9090;
    -webkit-box-shadow: 1px 1px 5px #9C9090;
    -moz-box-shadow: 1px 1px 5px #9C9090;
    color: #333;
    font-size: 12px;
    background: #FFF;
    position: relative;
    width: 80px;
    height: 84px;
    overflow: hidden;
    display: inline-block;
    margin-left: 10px;
}

.upload-skin li.spanButtonPlaceholder{
	list-style-position: inside;
	display: inline-block;
}

.upload-skin li em{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-shadow: 1px 1px 1px black;
    width: 100%;
}

.upload-skin li .progressBar {
	height:100%;
	background:#fff;
}  
.upload-skin li .progressValue {
	color: red;
	margin-left: 5px
}  
.upload-skin li .progress {
	background:rgb(85, 175, 105);
	width:100%;
	height:0%;
}  

.upload-skin .uploadInfo{
	position:absolute;
	top:0px;
	color:white;
	width:100%;

}

.upload-skin li p {
	margin:0;
	line-height:18px;
}  
.upload-skin li.success .progress {
	background: rgba(85, 175, 105, 0);
}

.upload-skin li.success .uploadInfo{
/*     display: none; */
}

.edoc_file_o .oppor-mask{
	display:none;
	width:50px;height:100%;position:absolute;top:0px;left:0px;background:black;
	    z-index: 1;
}

.edoc_file_o:hover .oppor-mask{
	display:block;
}
.oppor-mask .opper-button{
	display: block;
	width: 100%;
	height:17px;
	font-family: "Microsoft YaHei" ! important;
	font-weight: bold;
	color: #EBE6DF;
	text-align: center;
	padding-top: 4px;
}
.oppor-mask .opper-button:hover{
	background-color: rgba(105, 105, 105, 0.71);
}
.fullpwiwWrap{height:100%;width:100%;min-width:1160px;min-height:650px;    z-index: 9999;background-color:#192442;position: absolute; top: 0px;}
.fullpwiwWrap .close{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background: url("close_btn.png") no-repeat;
    background-size: 26px;
    background-position: center;
    cursor: pointer;
}
.fullpwiwWrap .trunRround{
    position: absolute;
    top: 10px;
    left: 49%;
    background-repeat: no-repeat !important;
    background-image: url("turnright.png");
    background-position: center;
    background-size: 35px;
    height: 50px;
    width: 50px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    cursor: pointer;
}
.fullpwiwWrap .trunRround:hover{
	opacity: 0.4;
}
.fullpwiwWrap .wrap{margin:0 auto;min-width: 800px;  max-width: 90%;height:100%;background-color:#192442}
.fullpwiwWrap .wrap img{border:none}
.fullpwiwWrap .wrap ul,.fullpwiwWrap .wrap  li{list-style:none;margin:0px}
.fullpwiwWrap .wrap a{color:#333;font-size:14px; text-decoration: none; display: table-cell; vertical-align: middle;}
.fullpwiwWrap .wrap a:hover{text-decoration:underline;}
.fullpwiwWrap .wrap .cl:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.cl{zoom:1}
.fullpwiwWrap .wrap video{    
	max-width: 100%;
    width: 800px;
    min-width: 300px;
    background-color: #000000;
    max-height: 100%;
    min-height: 450px;
    height: 450px}
.fullpwiwWrap .wrap .container{height:100%}

/* sildes css begin */
.fullpwiwWrap .wrap  .control ul{margin:0px}
.fullpwiwWrap .wrap  .control {width:900px;height:900px;display: block;position:absolute;top:0;left:0;overflow: hidden;}
.fullpwiwWrap .wrap  .change li{width:900px;overflow: hidden;text-align:center;height:100%;}

/* 图片垂直居中,不是很准确 */

.fullpwiwWrap .wrap  .change li .imgWrap{
	
	width: 100%;
    vertical-align: middle;
    display: table;
    cursor: pointer;
    background-color: #324884;
    height: 100%;
	
}
.fullpwiwWrap .wrap  .change li img{max-width:800px;max-height:800px;width: expression(this.width > 800 && this.width > this.height ? 800 :true); height:expression(this.height >800 ? 800: true);vertical-align:middle; overflow:hidden}

/* 描述部分 */
.fullpwiwWrap .wrap  .change li .textDesc{width:100%;height:100px;position:absolute;left:0;bottom:0;text-align:left;overflow: hidden;display:none;}
.fullpwiwWrap .wrap  .change li .opacity{width:100%;height:100px;position:absolute;left:0;bottom:0;background:#000;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullpwiwWrap .wrap  .change li .title{padding:10px 15px 0; color:#e6e6e6;font-size:14px;line-height:22px;}
.fullpwiwWrap .wrap  .change li .title a{color:#e6e6e6;}
.fullpwiwWrap .wrap  .change li .text{color:#b7b7b7;line-height:18px;padding:5px 15px;font-size:12px;}

/* 翻页按钮 */
.fullpwiwWrap .wrap  .prev,.fullpwiwWrap .wrap   .next{width:49px;height:49px;position:absolute;bottom:480px;     top: 46%;color:#FFF;font-size:14px; z-index: 9;font-weight:bold; cursor: pointer;outline:none} 
.fullpwiwWrap .wrap  .prev span,.fullpwiwWrap .wrap   .next span{display: none;}
.fullpwiwWrap .wrap  .prev{left:0;background:url(arrows_01.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="arrows_01.png") ; _background:none}
.fullpwiwWrap .wrap  .next{right:0;background:url(arrows_02.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="arrows_02.png") ; _background:none}

/* 分页 */
.fullpwiwWrap .wrap  .pageClass{text-align:center;z-index: 9;position:absolute;top:50px;padding-top:10px;}
.fullpwiwWrap .wrap  .pageClass a{display: inline-block; width:10px;height:10px;margin:0 3px;overflow:hidden; border:1px solid #bebebe;background:#bebebe ;border-radius:5px;outline:none}
.fullpwiwWrap .wrap  .pageClass a span{display:none}
.fullpwiwWrap .wrap  .pageClass a:hover,.fullpwiwWrap .wrap  .pageClass a.cur{border:1px solid #be230a;background:#be230a }

/* 缩图部分 */
.fullpwiwWrap .wrap  .thumbWrap{width:140px;height:100%;position:absolute;right:0;top:0;border-radius:5px;overflow: hidden;}
.fullpwiwWrap .wrap  .thumbWrap .thumbCont{width:160px;position:absolute;overflow: hidden;border-left: 5px solid #324884;top: 50px;bottom: 50px;overflow:auto;}
.fullpwiwWrap .wrap  .thumbWrap ul{margin:0px;top:0px !important;}
.fullpwiwWrap .wrap  .thumbWrap ul li{width:134px;height:89px;padding:3px 3px 3px 0px;text-align:center;overflow: hidden;}
.fullpwiwWrap .wrap  .thumbWrap ul li div{display: table-cell ;width:138px;height:89px;vertical-align: middle;cursor:pointer;*font-size: 79px;}

.fullpwiwWrap .wrap  .thumbWrap ul li img {max-width:116px; max-height:89px; width: expression(this.width > 116 && this.width > this.height ? 116 :true); height:expression(this.height >89 ? 89: true);vertical-align:middle; overflow:hidden}

.fullpwiwWrap .wrap  .thumbWrap ul li.cur{background-color:#324884;}

/* 缩图按钮 */
.fullpwiwWrap .wrap  .thumbPrev,.fullpwiwWrap .wrap  .thumbNext{width:140px;height:39px;text-align:center;position:absolute;color:#000;z-index: 9; outline:none}
.fullpwiwWrap .wrap  .thumbPrev span, .thumbNext span{display: none;}

.fullpwiwWrap .wrap  .thumbPrev{left:0;top:0;background:url(Yprev.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="Yprev.png") ; _background:none}
.fullpwiwWrap .wrap  .thumbNext{left:0;bottom:0;background:url(Ynext.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="Ynext.png") ; _background:none}