<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
<script th:src="@{/vue/hyfileupload.js}"></script>
<link th:href="@{/vue/hyfileupload.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="app" view>
	
	<hy-filllayout rows="queryh,*" :showborder="true"  :showpadding="false"> 
			<hy-fillarea :display="editFlag=='N'?'none':'block'">
				<hy-row>
					<hy-col :span="2"><hy-button text="保存" @click="save"></hy-button></hy-col>
					<hy-col :span="3"><hy-fileupload :width="100" id="webuploader" @autoupload="submitFile" title="上传头像" @click="checkPartyId" @success="uploadSuccess" @change="checkPartyId" :displayinfo="false" v-if="">
						</hy-fileupload></hy-col>
				</hy-row>
			</hy-fillarea>
			<hy-fillarea >
				<hy-filllayout cols="200,*" :showborder="false"  :showpadding="false"> 
				<hy-fillarea>
					 <hy-row></hy-row>
					 	 <hy-col :span="1" type="left" :height="20">  </hy-col>
					 <hy-row>
					 	  <hy-col :span="2" type="left" :height="100"> 
					      </hy-col>
					      <hy-col :span="2" type="left" :height="200"> 
					           <img id="pic" :src="photoPath"  onerror="this.src='../../images/hr/000.jpg'"  width="160px" height="213px">
					      </hy-col>   
					  </hy-row>
				</hy-fillarea>
				<hy-fillarea>
					<hy-form id="myform" name="dataWrap" 
						label-position="left" :labelwidth="100" :readonly="editFlag=='N'"
						label-suffix="：" :cols="2" size="normal"> 
						<hy-formgroup title="基本信息">
							<hy-forminput label="姓名"  name="personName" :rules="{ required: true}" :maxlength="20" ></hy-forminput> 
							<hy-formdroptree label="任职部门"  id="orgTree"   :rules="{ required: true}" name="orgId"
				                   :highlight-current="true" default-expand-all size="large" 
				                   valueprovider="com.haiyisoft.hr.org.tree.HrOrgBasicTree">
							</hy-formdroptree>
							<hy-forminput label="手机号"  name="linkmenPhone" :maxlength="30" placeholder="作为登录账号"  :rules="{ required: true}" ></hy-forminput> 
							<hy-forminput label="身份证号"  name="idCard" :maxlength="20"  :rules="[{pattern: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, message: '只能为15或18位' ,trigger: 'blur,change'}]"></hy-forminput> 
							<hy-formselect label="性别"  name="gender"  dropname="ORG.GENDER"></hy-formselect> 
							<hy-forminputbutton name="posUuid" label="职务"  @click="selectPos" v-model="posId" 
								labelprovider="com.haiyisoft.hr.pos.labelprovider.HrRecruitPositionLabel"> </hy-forminputbutton>
							<hy-forminputbutton name="orgIdParts" label="兼职部门"  @click="selectOrg" v-model="orgIds"
								labelprovider="com.haiyisoft.hr.org.labelprovider.OrgNameLabel"></hy-forminputbutton>
							<hy-formselect label="民族" clearable name="nation" dropname="HR.PER_NATION" ></hy-formselect>
							<hy-forminput label="籍贯"  name="nativePlace" :maxlength="50"  ></hy-forminput> 
							<hy-formselect label="人员类别" clearable name="personType" dropname="HR.IN_SYSTEM_TYPE" ></hy-formselect>
							<hy-formdatepicker label="出生日期" name="personBirthday"></hy-formdatepicker>
							<hy-formselect label="人员状态" clearable name="partyStatus" dropname="HR.PER_STATUS_ITEM" ></hy-formselect>
<!-- 							<hy-formselect label="角色" name="roleCodes"  :items="roleDrop" multiple   :clearable="true"> -->
							<hy-forminputbutton label="角色" name="roleCodes" v-model="role" @click="selRole" :colspan="2"
					  			labelprovider="com.haiyisoft.fslq.labelprovider.RoleMulLabel"></hy-forminputbutton>
					  		</hy-formselect>
						</hy-formgroup>
					</hy-form>
				</hy-fillarea>
				</hy-filllayout> 
		    </hy-fillarea>
		</hy-filllayout>
	</div>
	<script type="text/javascript">
	//头像关闭
	$(function() {
		$("#closeDiv").click(function() {
			$("#showphoto").toggle();
			$(this).toggle();
		});
	});
	</script>
	<script th:inline="javascript">
	
		var vm = new Vue({
			el : "#app",
			data : {
				posId : null,
				orgIds : null,
				fileUuid : null,
				perUuid : null,
				role : null,
				tags:[]
			},
			mounted : function(){
				myform.setRecord(response.getAjaxDataWrap("dataWrap").getData()) ;
			},
			methods : {	
				addLabel : function(){
					$.showModalDialog($$pageContextPath + 'jt/com/jtLabel/selectlabel?labelClass=1', "添加标签", vm.addCallback, null, 600, 400,
							0);
				},
				addCallback : function (data){
					  var me = this;
				 $.request({
						url : $$pageContextPath + 'jt/com/jtLabel/addLabel',
						params:{"uuid":myform.getRecord().data.uuid,"labels":data.uuids},
						success : function(response) {
						var showLabels=response.getParameter("showLabels");
							var jsObject = JSON.parse(showLabels);
							me.tags.push(jsObject);
				          }
					});
			      }, 
			      handleClose:function(tag){
			          this.tags.splice(this.tags.indexOf(tag), 1);
			          $.request({
							url : $$pageContextPath + 'jt/com/jtLabel/removeLabel',
							params:{"uuid":myform.getRecord().data.uuid,"labels":tag.uuid},
							success : function(response){
								setRM("success",response.getMessage());
							}
						});
			        },
				save : function(){
					myform.validate(function(data){
						if(data){
							var formData = myform.collectData();
							var dataArr = [];
							dataArr.push(formData);
							$.request({
								url : $$pageContextPath + 'per/person/save',
								data : dataArr,
								success : function(response){
									var record = response.getAjaxDataWrap("dataWrap").getData() ? response.getAjaxDataWrap("dataWrap").getData() : {};
									var partyId = record.data.partyId;
									var uuid = record.data.uuid;
									setRM(function(){
										window.location.href=$$pageContextPath +"per/person/queryOne?partyId="+partyId+"&uuid"+uuid+"&editFlag=Y";
									});
								}
							});	
						}	
					});
				
				},
				selectOrg : function(){
					$.showModalDialog($$pageContextPath + 'hr/selectOrg/mulOrg', "详细", vm.selectOrgComp, null, 600, 400,
							0);
				},
				selectOrgComp : function(data){
					this.orgIds = data;
				},
				checkPartyId : function(){debugger;
					return false;
				},
				submitFile : function(){
					var partyId = myform.getRecord().data.partyId;
					if(!partyId)
						return setRM("alert","请先保存人员信息！");
					webuploader.submitFile({
				          server : $$pageContextPath +'per/person/uploadPhoto',//请求
				          params:{//请求携带的参数
				        	  perUuid: myform.getRecord().data.uuid
				          }
				    });
					
				},
				uploadSuccess:function() {
					var perId = myform.getRecord().get("partyId");
					$.request({
						url : $$pageContextPath + 'per/person/getPhotoPath',
						params : {"partyId":perId},
						success : function(response){
							vm.photoPath = response.parameters.photoPath;
						}
					});	
				},				
				selectPos : function(){
					var orgId = myform.getRecord().data.orgId;
					if (typeof(orgId) == 'undefined' || orgId == null) {
						setRM("alert","请选择部门!");
						return;
					}
					$.showModalDialog($$pageContextPath + 'pos/position/select/?orgId='+orgId, "详细", vm.selectPosComp, null, 600, 400,
							0);
				},
				selectPosComp : function(data){
					this.posId = data;
				},
				selRole : function() {
					var partyId = myform.getValue("partyId");
					if(!partyId)
						return setRM("alert", "请先保存人员!");
					$.showModalDialog($$pageContextPath + 'jt/right/selectRole/mulRole/?type=1&partyId='+partyId, 
							"选择角色", vm.selRoleComp, null, window.top.innerWidth, window.top.innerHeight, 0);
				},
				selRoleComp : function(data) {
					this.role = data.roleCodes;
				}
			}
			
		});
	</script>
</body>
</html>