<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
	<hy-filllayout rows="40,*" :showborder="true"  :showpadding="false"> 
		<hy-fillarea :display="editFlag=='N'?'none':'block'">
			<hy-button text="添加" @click="add"></hy-button>	
			<hy-button text="删除" @click="remove" :plain="true"></hy-button>
		</hy-fillarea>
		
		<hy-fillarea >
		     <hy-table border name="dataWrap"
				id="ajaxgrid" showpage :readonly="true" height="100%"
				@queryfunc="query" titlealign="center" style="width: 100%">
				<hy-table-column title="序号" align="center" width="60" type="index"></hy-table-column>
				<hy-table-column title="多选" align="center" type="selection"></hy-table-column> 
				<hy-table-column title="联系类型"  name="contactType" align="center"	type="drop" dropname="ORG.CONTACT_MECH_TYPE" width="120"></hy-table-column> 
				<hy-table-column title="联系方式"  name="content" align="center" width="260" type="drop" dropname=""></hy-table-column> 
				<hy-table-column  title="操作" width="60" align="center">
			      <template scope="scope">
			     	 <a href="javascript:void(0)" @click="detail(scope.row)">详情</a>&nbsp;
			      </template>
			    </hy-table-column>
			</hy-table> 
		</hy-fillarea>
		
	</hy-filllayout>
	</div>
	
	<script th:inline="javascript">
	var partyId;
	var editFlag;
	var vm = new Vue({
		el : "#app",
		data : {
			eduLevel :""
		},
		mounted : function(){
			ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
			partyId = response.getParameter("partyId");
			editFlag = response.getParameter("editFlag");
		},
			methods : {				
				query : function(){
					var gridData = ajaxgrid.collectData(true) ;
					var dataArr = [];
					dataArr.push(gridData) ;
					$.request({
						url : $$pageContextPath + 'per/personContact/query?partyId='+partyId,
						data : dataArr,
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
						}
					});					
				},
				detail : function(row){
					$.popWindow({
						url: $$pageContextPath + 'per/personContact/queryOne?contactId='+row.contactId+"&editFlag="+this.editFlag,
						title: "详细",
						callback: vm.onsavecomplete,
						css:{width:700,height:500},
						button:0,
						isRunCallback :true
					});
				},
				add : function(){
					$.popWindow({
						url: $$pageContextPath + 'per/personContact/queryOne?editFlag=Y&partyId='+vm.partyId,
						title: "添加",
						callback: vm.onsavecomplete,
						css:{width:700,height:500},
						button:0,
						isRunCallback :true
					});
				},
				remove : function(){
					var checked = ajaxgrid.getCheckedRecords();
					if (checked.length <= 0) {
						$.alert("error", "请选择要删除的记录!");
					}else{
						$.confirm("提示","确定要删除选中的记录？",function(){
							var gridData = ajaxgrid.collectData(true, "checked");
							var dataArr = [];
							dataArr.push(gridData);
							$.request({
								url : $$pageContextPath + 'per/personContact/remove',
								data : dataArr,
								success : function(response){
									setRM("success",response.getMessage(),vm.query());
								}
							});
					　　　},function(){});
					}
				},
				onsavecomplete : function(response,b,c){
					vm.query();
				},
				reSet : function(){
					$(".reSetClass input").each(function(){
						$(this).val('');
					});
				}
			}
		});
	</script>
</body>
</html>