<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
	<hy-filllayout rows="40,*" :showborder="true"  :showpadding="false"> 
		<hy-fillarea :display="editFlag=='N'?'none':'block'">
			<hy-button text="添加" @click="add"></hy-button>	
			<hy-button text="删除" @click="remove" :plain="true"></hy-button>
		</hy-fillarea>
		
		<hy-fillarea >
		     <hy-table border name="dataWrap"
				id="ajaxgrid" showpage :readonly="true" height="100%"
				@queryfunc="query" titlealign="center" style="width: 100%">
				<hy-table-column title="序号" align="center"  type="index"></hy-table-column>
				<hy-table-column title="多选" align="center" type="selection"></hy-table-column>
				<hy-table-column
					      title="操作" width="60" align="center">
					      <template scope="scope">
					     	 <a href="javascript:void(0)" @click="detail(scope.row)">详情</a>&nbsp;
					      </template>
					    </hy-table-column>
				<hy-table-column title="培训名称"  name="activityName" align="center" width="100" ></hy-table-column>
				<hy-table-column title="开始时间"  name="fromDate" align="center" width="150" type="date" ></hy-table-column> 
				<hy-table-column title="结束时间"  name="thruDate" align="center" width="120"  type="date"  ></hy-table-column> 
				<hy-table-column title="培训形式" clearable name="activityType"  type="drop":items="trainTypeDrop" align="center" width="100" ></hy-table-column>
				<hy-table-column title="培训级别"  name=trainType clearable type="drop":items="activityTypeDrop"align="center" width="100" ></hy-table-column>
				<hy-table-column title="培训学时"  name="trainTime" align="center" width="100" ></hy-table-column>
				<hy-table-column title="培训结果"  name=trainResult type="drop" :items="trainResultDrop"align="center" width="100" ></hy-table-column>
			</hy-table> 
		</hy-fillarea>
		
	</hy-filllayout>
	</div>
	
	<script th:inline="javascript">
	var partyId;
	var editFlag;
	var vm = new Vue({
		el : "#app",
		data : {
			eduLevel :""
		},
		mounted : function(){
			ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
			partyId = response.getParameter("partyId");
			editFlag = response.getParameter("editFlag");
		},
			methods : {				
				query : function(){
					var gridData = ajaxgrid.collectData(true) ;
					var dataArr = [];
					dataArr.push(gridData) ;
					$.request({
						url : $$pageContextPath + 'per/personTrainInfo/query?partyId='+partyId,
						data : dataArr,
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
						}
					});					
				},
				detail : function(row){
					$.popWindow({
						url:$$pageContextPath + 'per/personTrainInfo/queryOne?trainId='+row.trainId+"&editFlag="+this.editFlag,
						title: "详细",
						callback: vm.onsavecomplete,
						css:{width:700,height:500},
						button:0,
						isRunCallback :true
					});
				},
				add : function(){
					$.popWindow({
						url:$$pageContextPath + 'per/personTrainInfo/queryOne?editFlag=Y&partyId='+vm.partyId,
						title: "添加",
						callback: vm.onsavecomplete,
						css:{width:700,height:500},
						button:0,
						isRunCallback :true
					});
				},
				remove : function(){
					var checked = ajaxgrid.getCheckedRecords();
					if (checked.length <= 0) {
						$.alert("error", "请选择要删除的记录!");
					}else{
						$.confirm("提示","确定要删除选中的记录？",function(){
							var gridData = ajaxgrid.collectData(true, "checked");
							var dataArr = [];
							dataArr.push(gridData);
							$.request({
								url : $$pageContextPath + 'per/personTrainInfo/remove',
								data : dataArr,
								success : function(response){
									setRM("success",response.getMessage(),vm.query());
								}
							});
					　　　},function(){});
					}
				},
				onsavecomplete : function(response,b,c){
					vm.query();
				},
				reSet : function(){
					$(".reSetClass input").each(function(){
						$(this).val('');
					});
				}
			}
		});
	</script>
</body>
</html>