<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
		<hy-filllayout rows="40,*" :showborder="true" :showpadding="false">

			<hy-fillarea :display="editFlag=='N'?'none':'block'">
				<hy-button text="保存" @click="save"></hy-button>	
				<hy-button text="关闭" onClick="$.close(true)" :plain="true"></hy-button>	
			</hy-fillarea>
			
			<hy-fillarea> 
				<hy-form id="myform" name="dataWrap"
					label-position="left" :labelwidth="120"
					:readonly="editFlag=='N'?true:false" :cols="2" size="normal">
					<hy-formgroup title="基本信息">
						<hy-formdatepicker label="开始时间" name="fromDate" :rules="{ required: true}"></hy-formdatepicker>
						<hy-formdatepicker label="结束时间" name="thruDate" :rules="{ required: true}"></hy-formdatepicker>
						<hy-forminput label="工作单位"  name="workUnit" :maxlength="50"  ></hy-forminput> 
						<hy-forminput label="工作部门"  name="workDept" :maxlength="50"  ></hy-forminput> 
						<hy-forminput label="职务"  name="pursueWork" :maxlength="50"  ></hy-forminput> 
						<hy-forminput label="证明人"  name="proveMan" :maxlength="50"  ></hy-forminput> 
						<hy-forminput label="备注"  name="remark" :rowspan="2" :colspan="2" type="textarea" :maxlength="255" ></hy-forminput>
					</hy-formgroup>
				</hy-form> 
			</hy-fillarea> 
		</hy-filllayout>
	</div>
	
	<script th:inline="javascript">
		var vm = new Vue({
			el : "#app",
			data : {
			},
			mounted : function(){
				myform.setRecord(response.getAjaxDataWrap("dataWrap").getData()) ;
			},
			methods : {				
				save : function(){
					if(!compareDate(myform.getValue("fromDate"),myform.getValue("thruDate"))){
						return setRM("alert","开始时间必须小于结束时间")
					}
					myform.validate(function(data){
						if(data){
							var formData = myform.collectData();
							var dataArr = [];
							dataArr.push(formData);
							$.request({
								url : $$pageContextPath + 'per/personResumeInfo/save',
								data : dataArr,
								success : function(response){
									setRM("success",response.getMessage(),function(response){
										myform.setRecord(response.getAjaxDataWrap("dataWrap").getData()) ;
									});
								}
							});	
						}	
					});
				} 
			}
		});
	</script>
</body>

</html>