.hy-timeline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hy-timeline-item {
  margin: 0 !important;
  padding: 0 0 12px 0;
  list-style: none;
  position: relative;
}
.hy-timeline-item-tail {
  height: 100%;
  border-left: 1px solid #e3e8ee;
  position: absolute;
  left: 6px;
  top: 0;
}
.hy-timeline-item-pending .hy-timeline-item-tail {
  display: none;
}
.hy-timeline-item-head {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid transparent;
  position: absolute;
}
.hy-timeline-item-head-blue {
  border-color: #2db7f5;
  color: #2db7f5;
}
.hy-timeline-item-head-red {
  border-color: #f60;
  color: #f60;
}
.hy-timeline-item-head-green {
  border-color: #87d068;
  color: #87d068;
}
.hy-timeline-item-head-custom {
  width: 40px;
  height: auto;
  margin-top: 6px;
  padding: 3px 0;
  text-align: center;
  line-height: 1;
  border: 0;
  border-radius: 0;
  font-size: 12px;
  position: absolute;
  left: -13px;
  transform: translateY(-50%);
}
.hy-timeline-item-content {
  padding: 1px 1px 10px 24px;
  font-size: 12px;
  position: relative;
  top: -3px;
}
.hy-timeline-item:last-child .hy-timeline-item-tail {
  display: none;
}
.hy-timeline.hy-timeline-pending .hy-timeline-item:nth-last-of-type(2) .hy-timeline-item-tail {
  border-left: 1px dotted #e3e8ee;
}
.hy-timeline.hy-timeline-pending .hy-timeline-item:nth-last-of-type(2) .hy-timeline-item-content {
  min-height: 48px;
}
