<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
		<hy-filllayout cols="220,*" id="mainArea">
			<hy-fillarea>
				<hy-tree v-model="curTacheId" valueprovider="com.haiyisoft.jt.app.tree.JtAppTacheTree"  id="tacheNoTree" :expandlevel="2" @nodeclick="query" :rootcode="formId" :rootvisible="true" :onlyselectleaf="true"></hy-tree>
			</hy-fillarea>
			<hy-fillarea >
				<hy-filllayout rows="queryh,*,queryh" :showborder="true" :showpadding="false"> 
					<hy-fillarea>
						 <table>
			               <tr>
			                <td align="right">字段名称</td>
			                <td width="120px" align="left"><hy-input name="dataWrap.query.fieldName_LIKE"  :upload="true" ></hy-input></td>
			                <td width="30px"></td>
			               	<td><hy-button text="查询" @click="query"></hy-button></td>
			              </tr>
		            	</table>
					</hy-fillarea> 
					<hy-fillarea >
				          <hy-table border name="dataWrap" id="ajaxgrid" :showpage="false" readonly height="100%" 
								@queryfunc="query" titlealign="center" style="width: 100%">
								<hy-table-column title="序号" align="center" width="40" type="index"></hy-table-column>
								<hy-table-column title="多选" align="center"  type="selection"></hy-table-column> 
								<hy-table-column  name="fieldName" title="字段名称" :width="150" maxlength="100" align="center" ></hy-table-column>
								<hy-table-column dropname="JT.INPUT_FORM" dropfilter="Y" name="inputForm" title="字段类型" :width="80" type="drop" align="center"  ></hy-table-column>
								<hy-table-column  name="fieldCode" title="字段代码" :width="100" maxlength="100" align="center"></hy-table-column>
								<hy-table-column name="extCode1" title="下拉名称" :width="150" :maxlength="32" align="center"></hy-table-column>
								<hy-table-column name="length" title="列表列宽" :width="80" :maxlength="32"  align="center"></hy-table-column>
								<hy-table-column dropname="UEP.YES_OR_NO" name="useFlag" nullable="false" title="是否显示" type="drop" align="center"></hy-table-column>
								<hy-table-column dropname="UEP.YES_OR_NO" name="isMust" nullable="false" title="是否必填" type="drop" align="center"></hy-table-column>
								<hy-table-column name="orderSn" title="排序序号" :width="70" :maxlength="5" align="center"></hy-table-column>
								<hy-table-column name="useRows" title="占用行数" :width="70" :maxlength="2" align="center"></hy-table-column>
								<hy-table-column name="useCols" title="占用列数" :width="70" :maxlength="2" align="center"></hy-table-column>
								<hy-table-column name="unit" title="单位" width="100" maxlength="60" align="center"></hy-table-column>
								<hy-table-column name="extAttr2" title="扩展属性2" width="100" maxlength="32" align="center"></hy-table-column>
								<hy-table-column name="extAttr3" title="扩展属性3" width="100" maxlength="32" align="center"></hy-table-column>
							</hy-table> 
				      </hy-fillarea>
				      <hy-fillarea >
						<hy-row>
							<hy-col :span="4" :offset="10">
								<hy-button text="确定" @click="ok"></hy-button>
								<hy-button text="取消" onclick="$.close()"></hy-button>					
							</hy-col>
						</hy-row>		
					</hy-fillarea> 
				</hy-filllayout>
			</hy-fillarea>
		</hy-filllayout>
	</div>
	<script th:inline="javascript">
		var vm = new Vue({
			el : "#app",
			data : {
				curTacheId : null
			},
			mounted : function(){
				ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
			},
			methods : {				
				query : function(){
					var gridData = ajaxgrid.collectData(true) ;
					var dataArr = [];
					dataArr.push(gridData) ;
					$.request({
						url : $$pageContextPath + 'jt/jtExtField/listApp',
						params : {
							"tableId":vm.tableId,
							"formId":vm.formId,
							"curTacheId":vm.curTacheId
						},
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
						}
					});	
				},
				ok : function(){
					 var records =  ajaxgrid.getCheckedRecords();
					 if(records.length<=0){
						 return setRM("alert","请选择记录");
					 }
					 var ids = "";
					 for(var i=0;i<records.length;i++){
						 ids += ","+records[i].data.id;
					 }
					 if(ids.length>0)
						 ids = ids.substring(1);
					 $.close(ids);
				},
			}
			
		});
	</script>
</body>
</html>