<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
		<hy-filllayout cols="300,*">
			<hy-fillarea>
				<hy-tree v-model="unitTypeId" valueprovider="com.haiyisoft.jt.tree.DropTree" rootcode="GC.UNIT_TYPE" :onlyselectleaf="true" @nodeclick="query"></hy-tree>
<!-- 				<hy-tree v-model="unitTypeId" :rootvisible="false" dataprovider="com.haiyisoft.fslq.tree.PrjSectTree" :expandlevel="4"></hy-tree> -->
			</hy-fillarea>
			<hy-fillarea>
				<hy-filllayout rows="queryh,toolh,*" :showborder="true"  :showpadding="false"> 
					<hy-fillarea  >
						<table>
			              <tr>
			                <td align="right" width="80px">单位名称</td>
			                <td width="120px" align="left"><hy-input name="dataWrap.query.unitName_LIKE"  :upload="true"  ></hy-input> </td>
			                <td width="30px"></td>
			               	<td><hy-button text="查询" @click="query"></hy-button>	</td>
			              <tr />
			            </table>
					</hy-fillarea> 
					<hy-fillarea >
						<hy-button text="添加" @click="add"></hy-button>	
						<hy-button text="删除" @click="remove"></hy-button>	
					</hy-fillarea>
					<hy-fillarea >
				          <hy-table border name="dataWrap"
								id="ajaxgrid" showpage :readonly="true" height="100%"
								@queryfunc="query" titlealign="center" style="width: 100%">
								<hy-table-column title="序号" align="center" width="40" type="index"></hy-table-column>
								<hy-table-column title="多选" align="center" type="selection"></hy-table-column> 
								<hy-table-column title="单位名称"  name="unitName" align="center"	width="210"></hy-table-column> 
								<hy-table-column title="地址"  name="address" align="center"	width="210"></hy-table-column> 
								<hy-table-column title="联系人"  name="linkMan" align="center"	width="100"></hy-table-column> 
								<hy-table-column title="联系电话"  name="linkTel" align="center"	width="150"></hy-table-column> 
								<hy-table-column title="法人"  name="lawMan" align="center"	width="100"></hy-table-column> 
								<hy-table-column title="排序号"  name="orderSn" align="center"	width="80"></hy-table-column> 
								<hy-table-column  title="操作"  width="120" align="center">
							      <template scope="scope">
							     	<a href="javascript:void(0)" @click="detail(scope.row)">详细</a>&nbsp;
							     	<a href="javascript:void(0)" @click="perInfo(scope.row)">人员信息</a>&nbsp;
							      </template>
							    </hy-table-column>
							</hy-table> 
				      </hy-fillarea>
				</hy-filllayout>
					
			</hy-fillarea>
		</hy-filllayout>
	</div>
	<script th:inline="javascript">
	var infoId;
		var vm = new Vue({
			el : "#app",
			data : {
				unitTypeId :''
			},
			mounted : function(){
				ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
			},
			methods : {		
				detail : function(row){
					$.popWindow({
						url:$$pageContextPath + 'gc/pmGcUnit/pageForm?id='+row.id,
						title: "详细",	
						callback: vm.onsavecomplete,
						css:{width:900,height:300},
						button:0,
						isRunCallback :true
					});
				},
				add : function(){
					if(!vm.unitTypeId){
						return setRM("alert","请选择单位类型")
					}
					
					$.popWindow({
						url:$$pageContextPath + 'gc/pmGcUnit/pageForm?unitType='+vm.unitTypeId,
						title: "详细",	
						callback: vm.onsavecomplete,
						css:{width:900,height:300},
						button:0,
						isRunCallback :true
					});
				},
				remove : function(){
					dataDel(ajaxgrid,$$pageContextPath + 'gc/pmGcUnit/remove',this.query);
				},
				onsavecomplete : function(response){
					vm.query() ;
				},
				query : function(){
					if(!vm.unitTypeId){
						return setRM("alert","请选择单位类型")
					}
					var gridData = ajaxgrid.collectData(true) ;
					var dataArr = [];
					dataArr.push(gridData) ;
					$.request({
						url : $$pageContextPath + 'gc/pmGcUnit/list',
						params:{"unitType":vm.unitTypeId},
						data : dataArr,
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
						}
					});					
				},
				perInfo : function(row){
					if(!row.partyId)
						return setRM("alert","请重新添加该单位！");
					var partyType = '3'+row.unitType;
					$.showModalDialog($$pageContextPath + 'per/person/pageUnitPer?orgId='+row.partyId+'&partyType='+partyType+'&editFlag=Y', "人员信息", 
							vm.query, null,1200, 600, 0);
				},
				initOrg : function(){
					$.request({
						url : $$pageContextPath + 'gc/pmGcUnit/initOrg',
						success : vm.onsavecomplete
					});					
				}
			}
		});
	</script>
</body>
</html>