<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:jt="http://www.w3.org/1999/xhtml">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
<script th:src="@{/jt/app/appcommon.js}"></script>
</head>
<body>
	<div id="app" view>
	
	<hy-filllayout rows="35,*" :showborder="true"  :showpadding="false">
			<hy-fillarea :display="areaVisible">
					<jt:appButton saveBtn="Y" sendBtn="B" thBtn="N" sendBtnValue="指派" sendAdviceBtn="N"></jt:appButton>
			</hy-fillarea>
			<hy-fillarea title="指派信息">
				<hy-form id="myform" name="dataWrap" style="width:95%" 
					labelposition="top" :labelwidth="120" :readonly="editFlag!='N'?false:true"
					label-suffix="：" :cols="1" size="normal"> 
						<hy-forminput label="工作单号"  name="appNo" :rules="{required: true}" :readonly="true" ></hy-forminput>
						<hy-formradio  label="同意指派" dataprovider="UEP.YES_OR_NO"  name="agreeFlag"  :rules="{required: true}" ></hy-formradio>
						<hy-forminput label="指派意见"  name="verifyOpinion" :rowspan="2" :colspan="2" type="textarea" placeholder="单击图标选择模版信息" 
  							icontype="icon-link"  @iconclick="searchTemplate"></hy-forminput>
				</hy-form> 
		    </hy-fillarea>
		</hy-filllayout>
	</div>
	<script th:inline="javascript">
		var vm = new Vue({
			el : "#app",
			data : {
				areaVisible : "block",
				detailVisible : "none",
				detailHref : ""
			},
			mounted : function(){
				myform.setRecord(response.getAjaxDataWrap("dataWrap").getData()) ;
				confirmTask = response.getParameter("confirmTask");
				this.detailVisible="block";
			},
			methods : {				
				save : function(){
					myform.validate(function(data){
						if(data){
							var formData = myform.collectData();
							var dataArr = [];
							dataArr.push(formData);
							$.request({
								url : $$pageContextPath + 'jt/app/appApproval/save',
								data : dataArr,
								success : vm.saveSuccess
							});	
						}	
					});
				},
				saveSuccess : function(response) {
					setRM("success",response.getMessage(),function(){
					})
				},
	 			searchTemplate : function() {
	 				if(vm.editFlag == 'N')
	 					return ;
	 				var templateContent = myform.getRecord().data.verifyOpinion;
	 				$.popWindow({
						url:$$pageContextPath + 'jt/app/selecttexttemplate/?templateType=2' + '&templateContent='+templateContent,
						title: "选择模板",	
						callback: vm.callback,
						arguments:response,
						css:{width:600,height:400}, 
						button:0,
						isRunCallback :true
					});
	 			},
	 			callback : function(response) {
	 				var record = myform.getRecord();
	 				record.set("verifyOpinion",response);
	 				myform.setRecord(record);
	 			},
	 			changeHisDetail : function(obj) {
	 				this.detailHref = obj.type;
	 			},
	 			appReturnTask : function(){
	 				$.confirm("确认", "确定要将工单退回？", returnTask);
	 			},
	 			returnTask : function() {
	 				//工单退回加理由
	 				$.showModalDialog($$pageContextPath+"jt/app/appSendAdvice/?sendType=2&instanceId=" +appInstanceId + "&taskId=" + appTaskId, "退回理由", 
	 					function() {
	 						goWithButton("returnTask");
	 					}, null, 500, 180, 0)
	 			},
	 			
			}

			
		});
	</script>
</body>
</html>