<hy-button text="保存" @click="save" :visible="saveBtnFlag"></hy-button>
<hy-button text="退回上一步" onclick="returnTask()" :visible="rtnBtnFlag"></hy-button>
<hy-button text="确认办理" onclick="confirm()" :visible="confirmBtnFlag"></hy-button>
<hy-button text="取消办理" onclick="taskUnclaim()" :visible="unclaimBtnFlag"></hy-button>
<hy-button text="办理意见" onclick="normalSendAdvice()" :visible="adviceBtnFlag"></hy-button>
<hy-button text="传递" onclick="normalSend()" :visible="sendBtnFlag"></hy-button>
<hy-button text="传递" onclick="appNormalSendBusi()" :visible="sendBusiBtnFlag"></hy-button>
<hy-button text="传递" onclick="appNormalSendBusiMul()" :visible="sendBusiMulBtnFlag"></hy-button>
<hy-button text="传递" onclick="appNormalSendOrg()" :visible="sendOrgBtnFlag"></hy-button>
<hy-button text="传递" onclick="appNormalSendOrgMul()" :visible="sendOrgMulBtnFlag"></hy-button>