<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
    	<hy-filllayout rows="40,*" :showborder="true"  :showpadding="false"> 
			<hy-fillarea >
				<table>
	              <tr> 
	              	<td align="right">工作单号</td>
	              	<td width="120px" align="left"><hy-input  id="appNoId" v-model="appNo" :upload="true" width="100"></hy-input></td>
	              	<td align="right" width="80px">工单类型 </td>
	              	<td width="120px" align="left"><hy-select dropname="JT.APP_TYPE"  v-model="appType" clearable  width="150"></hy-select></td>
	              	<td align="right" width="80px">工单状态 </td>
	              	<td width="120px" align="left"><hy-select dropname="JT.APP_STATUS"  v-model="appStatus" clearable  width="150"></hy-select></td>
	              	<td align="right" width="80px">管理单位 </td>
	              	<td width="120px" align="left"><hy-droptree id="busiCodeId" v-model="busiCode":upload="true" width="130"	 
			                   valueprovider="com.haiyisoft.hr.org.tree.HrOrgBasicTree"></hy-droptree></td>
	              	<td align="right" width="80"><hy-button text="查询" @click="retrieve"></hy-button></td>
	              </tr>
	             </table>
			</hy-fillarea> 
			<hy-fillarea >
		          <hy-table border name="dataWrap"
						id="ajaxgrid" showpage :readonly="true" height="100%"
						@queryfunc="retrieve" titlealign="center" style="width: 100%">
						<hy-table-column title="序号" align="center" width="50" type="index"></hy-table-column>
						<hy-table-column title="工作单号" width="80" align="center" v-if="editFlag!='N'">
					    <template scope="scope">
					     	 <a href="javascript:void(0)" @click="openTaskExecInfo(scope.row)" >{{scope.row.appNo}}</a>&nbsp;
					    </template>
					    </hy-table-column>
						<hy-table-column title="工作单类型"  name="appType" align="center" width="100" type="drop" dropname="JT.APP_TYPE" ></hy-table-column> 
						<hy-table-column title="申请人"  name="loginId" align="center" width="100" type="drop" :items="items" ></hy-table-column> 
						<hy-table-column title="申请时间"  name="appTime" align="center" width="150" type="date" ></hy-table-column> 
						<hy-table-column  title="管理单位" name="busiCode" align="center"type="drop" dropname="ORG.ORG_PARTY_NAME"	width="120"></hy-table-column> 
						<hy-table-column  title="工单状态"  name="appStatus" dropname="JT.APP_STATUS"align="center"type="drop" 	width="120"></hy-table-column> 
						<hy-table-column title="工单内容"  name="content" align="center"	width="340"></hy-table-column> 
					</hy-table> 
		      </hy-fillarea>
		</hy-filllayout>
	</div>
	<script th:inline="javascript">
		var action;
		var vm = new Vue({
			el : "#app",
			data : {
				appType : "",
				appNo : "",
				curTaskName : "",
				appStatus : "",
				busiCode : ""
			},
			mounted : function(){
				ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
			},
			methods : {				
				retrieve : function(){
					var gridData = ajaxgrid.collectData(true) ;
					var dataArr = [];
					dataArr.push(gridData) ;
					$.request({
						url : $$pageContextPath + 'jt/app/appquerymy/retrieve',
						data : dataArr,
						params : { "appType": this.appType,
								   "appNo" : this.appNo,
								   "curTaskName" : this.curTaskName,
								   "appStatus" : this.appStatus,
								   "busiCode" : this.busiCode
								   },
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
						}
					});					
				},
				openTaskExecInfo : function(cell){debugger;
					$.popWindow({
						title:cell.appTypeName+"("+cell.appNo+")",
						url: $$pageContextPath + "jt/app/taskExecInfo/?appInstanceId="+ cell.instanceId+ "&openMode=3" ,
						callback:vm.query,
						button:0,
						css:{width:1200,height:800,type:1},
					});
				},
			}
			
		});
	</script>
</body>
</html>