<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
		<hy-filllayout rows="40,*" :showborder="true"  :showpadding="false"> 
			<hy-fillarea title="查询条件" >
				<hy-form id="myform" name="dataWrap"
					label-position="left" label-width="100" :readonly="false"
					label-suffix="：" :cols="5" size="normal"> 
					<hy-forminput label="姓名"  width="120"name="personName"></hy-forminput>
					<hy-formcustom>
						<div style="width: 100%; text-align: left">
							<hy-button text="查询" @click="query"></hy-button>					
						</div>
					</hy-formcustom>
				</hy-form> 
			</hy-fillarea> 
			<hy-fillarea >
		          <hy-table border name="dataWrap"
						id="ajaxgrid" showpage :readonly="true" height="100%"
						@queryfunc="query" titlealign="center" style="width: 100%">
						<hy-table-column title="序号" align="center" width="80" type="index"></hy-table-column>
						<hy-table-column title="姓名"  name="personName" align="center"	width="120"></hy-table-column> 
						<hy-table-column title="部门名称"  name="orgName" align="center"	width="120"></hy-table-column> 
						<hy-table-column title="员工状态"  name="partyStatus" align="center" width="100" type="drop" dropname="HR.PER_STATUS_ITEM" ></hy-table-column> 
						<hy-table-column title="政治面貌"  name="politicalStatus" align="center" width="100" type="drop" dropname="PER.POLITY" ></hy-table-column> 
						<hy-table-column title="出生日期"  name="personBirthday" align="center" width="100" type="date" ></hy-table-column> 
						<hy-table-column
					      title="操作"
					      width="80" align="center">
					      <template scope="scope">
					     	<a href="javascript:void(0)" @click="detail(scope.row)">基本信息</a>&nbsp;
					      </template>
					    </hy-table-column>
					</hy-table> 
		      </hy-fillarea>
		</hy-filllayout>
	</div>
	<script th:inline="javascript">
		var vm = new Vue({
			el : "#app",
			data : {

			},
			mounted : function(){
				ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
				myform.setRecord(new HyRecord()) ;
			},
			methods : {				
				query : function(){
					var formData = myform.collectData();
					var gridData = ajaxgrid.collectData(true) ;
					var dataArr = [];
					dataArr.push(formData);
					dataArr.push(gridData) ;
					$.request({
						url : $$pageContextPath + 'jt/app/personquery/query',
						data : dataArr,
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
						}
					});					
				},
				detail : function(row){
					$.showModalDialog($$pageContextPath + 'per/perbaseinfo/?partyId='+row.partyId, "详细", vm.onsavecomplete, null, 1000, 600,
							0);
				},
				add : function(){
					$.showModalDialog($$pageContextPath + 'per/person/add', "添加", vm.onsavecomplete, null, 1000, 400,
							0);
				},
				remove : function(){
					var checked = ajaxgrid.getCheckedRecords();
					if (checked.length <= 0) {
						$.alert("error", "请选择要删除的记录!");
					}else{
						$.confirm("提示","确定要删除选中的记录？",function(){
							ajaxgrid.delCheckedRecords();
							var gridData = ajaxgrid.collectData(true, "checked");
							var dataArr = [];
							dataArr.push(gridData);
							$.request({
								url : $$pageContextPath + 'per/person/remove',
								data : dataArr,
								success : function(response){
									setRM("success",response.getMessage(),vm.query());
								}
							});
					　　　},function(){});
					}
					
				},
				
				onsavecomplete : function(response){
					setRM("success",response.getMessage(),vm.query());
				}
			}
			
		});
	</script>
</body>
</html>