<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<template th:substituteby="framework/pageset.html"></template>
<title>作战指挥中心</title>
</head>
<style>
.contaner{
width:100%;
height: 100%;
position:relative;
background: url(../images/screem/bg1.png) center no-repeat;
margin:0 auto;
background-size:100% 100%;
}

</style>
<body>
	 <div class="contaner"></div>
</body>
	<script >
	//window.parent.$("#app").hide();
	/* setInterval(function () {
		var date = new Date();//获得当前时间
		var yy = date.getFullYear();//年份
		var mm = date.getMonth() + 1;//获得月份
		mm = (mm < 10 ? "0" + mm : mm);//月份小于10时，前面加个0(例如9 ->09)天，小时，分钟，秒同理
		var dd = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate());//天
		var hours = (date.getHours() < 10 ? "0" + date.getHours() : date.getHours());//小时
		var minutes = (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes());//分钟
		var seconds = (date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds());//秒
		document.getElementById("time").innerHTML = yy + '年' + mm + "月" + dd + "日 " + hours + ':' + minutes + ':' + seconds;
		}, 1000); */
	
/* 	function hide(){
		debugger;
		window.parent.$("#iframe").hide();
		window.parent.$("#app").show();
	}
	
	function openBim(){
		debugger;
		$.request({
			url : 'main/openBim',
			success : function(response){ 
				var url = response.parameters.url;
				window.open(url);
			}
		});	
	}
	function openZH(){
		var url = "https://jl.smartcost.com.cn/";
		window.open(url);
	}
	function openDP(){
		var url = "/main/screem";
		window.open($$pageContextPath+url);
	} */
</script>
</html>