<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
		<hy-filllayout cols="200,*">
			<hy-fillarea>
				 <hy-tree id="firstTree" @checkchange="treeClick"  :checkstrictly="false"
				  valueprovider="com.haiyisoft.jt.right.tree.Right1TreeGrid"  v-model="code" :multiple="true":rootvisible="false" ></hy-tree>
			</hy-fillarea>
			<hy-fillarea>
				<hy-table border name="dataWrap"
					id="ajaxgrid" showpage :readonly="true" height="90%"
					@queryfunc="" titlealign="center" style="width: 100%">
					<hy-table-column title="序号" align="center" width="80" type="index"></hy-table-column>
					<hy-table-column title="组织名称"  name="groupName" align="center"	width="400"  ></hy-table-column> 
				</hy-table> 
				<hy-row>
					<hy-col :span="10"> </hy-col>
					<hy-col :span="3"  > <hy-button text="确定" @click="ok()" ></hy-button> </hy-col>
				</hy-row>
			</hy-fillarea>
		</hy-filllayout>
		
	</div>
	<script th:inline="javascript">
		var vm = new Vue({
			el : "#app",
			data : {
				code : null
			},
			mounted : function(){
			},
			methods : {				
				treeClick : function(node, checked){
					if (checked) {
						var beanArray = firstTree.getParentCascade(node.code);
						if (beanArray == null) {
							return;
						}
						beanArray = firstTree.getChildrenCascade(node.code);
						vm.addRecord(node);
					} else {
						// remove
						vm.delRecord(node);
					}
					
				},
				ok : function(){
					var partyIds = "";
					var groupNames = "";
					var records = ajaxgrid.getAllRecords();
					if (records.length > 0) {
						for ( var i = 0; i < records.length; i++) {
							 partyIds+=','+records[i].get("partyId");
							 groupNames+=','+records[i].get("groupName");
						}
						 if(records.length>=1){
							 partyIds = partyIds.substring(1);
							 groupNames = groupNames.substring(1);
						 }
					}
						$.close({
							"partyIds" : partyIds,
							"groupNames" : groupNames
						});
						
				},
				addRecord : function(treeBean) {
					var record = new HyRecord();
					record.set("partyId", treeBean.code);
					record.set("groupName", treeBean.label);
					ajaxgrid.addRecord(record);
				},
				delRecord : function(treeBean) {
					var records = ajaxgrid.getAllRecords();
					for ( var i = 0; i < records.length; i++) {
						if (records[i].get("partyId") == treeBean.code) {
							ajaxgrid.delRecord(records[i]);
						}
					}
				}
			}
			
		});
		
		
	</script>
</body>
</html>