<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
<script th:src="@{/vue/hytreetable.js}"></script>
</head>
<body>
	<div id="app" view>
		<hy-filllayout rows="*" :showborder="false"  :showpadding="true"> 
			<hy-fillarea >
	          <hy-treetable id="treeTable"  sum-text="sum" index-text="#" 
			      :columns="columns":stripe="props.stripe"  :border="props.border"
			      :showheader="props.showHeader" :showsummary="props.showSummary"
			      :showrowhover="props.showRowHover" :showindex="props.showIndex"
			      :treetype="props.treeType" :expandtype="props.expandType"
			      :selectiontype="props.selectionType" 
			      valueprovider = "com.haiyisoft.jt.right.tree.Right1TreeGrid">
			   
			    <template slot="option" scope="scope">
			        <hy-button text="详细" @click="detail(scope.row.code,scope.row)"> </hy-button>
			        <hy-button text="添加下级" @click="add(scope.row.code)"> </hy-button>
			        <hy-button text="删除" plain @click="remove(scope.row.code,scope.row.partyId)"> </hy-button>
			      </template>
			       </hy-treetable>
		      </hy-fillarea>
		</hy-filllayout>
	</div>
	<script th:inline="javascript">
		var vm = new Vue({
			el : "#app",
			data : {
				props: {
			          stripe: false,
			          border: false,
			          showHeader: true,
			          showSummary: false,
			          showRowHover: true,
			          showIndex: false,
			          treeType: true,
			          expandType: false,
			          selectionType: false,
			        },
		        columns: [
		                  {
		                    label: '权限名称',
		                    prop: 'label',
		                    width: '200px'
		                  },
		                  {
		                    label: '级别',
		                    prop: 'groupLevelName',
		                    width: '60px'
		                  },
		                  {
		                    label: '操作',
		                    prop: 'type',
		                    width: '100px',
		                    type: 'template',
		                    template: 'option',
		                  }
		           ]
			},
			mounted : function(){
			},
			methods : {				
				detail : function(code,partyId){
					if(treeTable.getParent(code)== null ){
						return setRM("alert","根节点不允许操作！");
					}
					$.showModalDialog($$pageContextPath + 'jt/right/right1/queryOne?partyId='+code, "详细", vm.onsavecomplete, null, 1000, 400, 0);
				},
				add : function(code){
					$.showModalDialog($$pageContextPath + 'jt/right/right1/add?upOrgPartyId='+code, "添加", vm.onsavecomplete, null, 900, 400, 0);
				},
				remove : function(code,partyId){
					if(code==0){
						setRM("alert","根节点不允许操作！");
						return;
					}
					$.confirm("提示","确定要删除选中的记录？",function(){
						$.request({
							url : $$pageContextPath + 'jt/right/right1/remove',
							params : { "partyId": code},
							success : vm.onsavecomplete
						});
				　　　},function(){});
					
				},
				onsavecomplete : function(response){
					treeTable.refreshTreeGrid();
				}
			}
			
		});
	</script>
</body>
</html>