<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
		<hy-filllayout cols="*" :showborder="true"  :showpadding="false"> 
			<hy-fillarea >
				<hy-filllayout rows="queryh,*" :showborder="true"  :showpadding="false"> 
					<hy-fillarea title="查询条件" >
						<table>
			              <tr>
			                <td align="right" width="80px">标签名称</td>
			                <td width="120px" align="left"><hy-input name="dataWrap.query.labelName_LIKE"  :upload="true"  ></hy-input> </td>
			                <td width="30px"></td>
			               	<td><hy-button text="查询" @click="query"></hy-button>	</td>
			               	<td><hy-button text="添加" @click="add"></hy-button></td>
			               	<td><hy-button text="删除" @click="remove"></hy-button></td>
			              <tr />
			            </table>
					</hy-fillarea> 
					<hy-fillarea >
				          <hy-table border name="dataWrap"
								id="ajaxgrid" showpage :readonly="true" height="100%"
								@queryfunc="query" titlealign="center" style="width: 100%">
								<hy-table-column title="序号" align="center" width="40" type="index"></hy-table-column>
								<hy-table-column title="多选" align="center" type="selection"></hy-table-column> 
								<hy-table-column title="标签名称"  name="labelName"align="center"	width="160"></hy-table-column> 
								<hy-table-column title="说明"  name="explan" align="center"	width="300"></hy-table-column> 
								<hy-table-column title="排序号"  name="orderSn" align="center"	width="100"></hy-table-column> 
								<hy-table-column  title="操作"  width="80" align="center">
							      <template scope="scope">
							     	<a href="javascript:void(0)" @click="detail(scope.row)">详细</a>&nbsp;
							      </template>
							    </hy-table-column>
							</hy-table> 
				      </hy-fillarea>
				</hy-filllayout>
		      </hy-fillarea>
		</hy-filllayout>
	</div>
	<script th:inline="javascript">
	var infoId;
		var vm = new Vue({
			el : "#app",
			data : {
				slTreeCode :"" 
			},
			mounted : function(){
				ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
			},
			methods : {		
				detail : function(row){
					$.showModalDialog( $$pageContextPath + 'jt/com/jtLabel/queryOne?uuid='+row.id, "详细", vm.onsavecomplete, null, 800, 400, 0);
				},
				add : function(){
					$.showModalDialog( $$pageContextPath + 'jt/com/jtLabel/queryOne?labelClass='+vm.labelClass, "添加", vm.onsavecomplete, null, 800, 400, 0);
				},
				remove : function(){
					dataDel(ajaxgrid, $$pageContextPath + 'jt/com/jtLabel/remove',this.query);
				},
				onsavecomplete : function(response){
					vm.query() ;
				},
				query : function(){
					var gridData = ajaxgrid.collectData(true) ;
					var dataArr = [];
					dataArr.push(gridData) ;
					$.request({
						url : $$pageContextPath + 'jt/com/jtLabel/query',
						params:{"labelClass":vm.labelClass},
						data : dataArr,
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
						}
					});					
				},
			}
		});
	</script>
</body>
</html>