<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
		<hy-filllayout cols="480,100,500">
				<hy-fillarea title="组织登录账号">
		<hy-filllayout rows="queryh,*" :showborder="true"  :showpadding="false" > 
			<hy-fillarea >
				 <table>
	              <tr> 
					<td align="right" width="80px">组织机构</td>
	                <td width="120px" align="left"><hy-droptree id="selOrgId" :rootvisible="false"
							:highlight-current="true" default-expand-all valueprovider="com.haiyisoft.hr.org.tree.HrOrgBasicTree" clearable/></td>
					<td align="right" width="80px">姓名</td>
	                <td width="120px" align="left"><hy-input id="personName" v-model="input"></hy-input></td>
           		  	<td align="right" width="80"><hy-button text="查询" @click="queryPeople"></hy-button></td>
           		  </tr>
	            </table>
			</hy-fillarea> 
			<hy-fillarea >
		          <hy-table border name="dataWrap2" id="ajaxgrid2" showpage :readonly="true" height="100%"
						@queryfunc="queryPeople" titlealign="center" style="width: 100%">
						<hy-table-column title="序号" align="center" width="50" type="index"></hy-table-column>
					    <hy-table-column title="多选" align="center" type="selection"></hy-table-column>
						<hy-table-column title="账号代码"  name="loginCode" align="center" width="150"></hy-table-column> 
						<hy-table-column title="人员名称"  name="partyId" align="center" width="150" type="drop" dropName="ORG.PERSON_NAME" ></hy-table-column> 
					</hy-table> 
		      </hy-fillarea>
		</hy-filllayout>
			</hy-fillarea>
			<hy-fillarea>
			<table>
				<br><br><br><br><br><br><br><br><br>
	      		<tr ><td width="100"  align="center"><hy-button text="添加->>" @click="addZH" :pkain="true" style="width:100%"></hy-button></td></tr>
				<tr height="10"></tr>
	      		<tr ><td width="100" align="center"  ><hy-button text="删除<<-"  @click="remove" :pkain="true" style="width:100%"></hy-button></td></tr>
      		</table>
			</hy-fillarea>
			<hy-fillarea title="拥有该角色的账号">
				   <hy-table border name="dataWrap1" id="ajaxgrid" showpage :readonly="true" height="100%"
						@queryfunc="query" titlealign="center" style="width: 100%">
						<hy-table-column title="序号" align="center" width="50" type="index"></hy-table-column>
					    <hy-table-column title="多选" align="center" type="selection"></hy-table-column>
						<hy-table-column title="账号代码" name="loginCode" align="center"	width="150"></hy-table-column> 
						<hy-table-column title="人员名称" name="partyId" align="center" width="150" type="drop" dropName="ORG.PERSON_NAME" ></hy-table-column> 
					</hy-table> 
			</hy-fillarea>
		</hy-filllayout>
	</div>
	<script th:inline="javascript">
		 var vm = new Vue({
			el : "#app",
			data : {
				input : ""
			},
			mounted : function(){
				ajaxgrid.setData(response.getAjaxDataWrap("dataWrap1"));
				ajaxgrid2.setData(response.getAjaxDataWrap("dataWrap2"));
			},
			methods : {				
				query : function(){
					var gridData = ajaxgrid.collectData(true);
					var dataArr = [];
					dataArr.push(gridData);
					$.request({
						url : $$pageContextPath + 'ep/roles/flushAll',
						data : dataArr,
					 	params:{
					 		roleCode : vm.roleCode
					 	}, 
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap1"));
						}
					});					
				},
				remove : function(response,b,c){
					var checked = ajaxgrid.getCheckedRecords();
					if (checked.length <= 0) {
						setRM("alert", "请选择要删除的记录!");
					}else{
						$.confirm("提示","确定要删除选中的记录？",function(){
							var gridData = ajaxgrid.collectData(true, "checked");
							var dataArr = [];
							dataArr.push(gridData);
							$.request({
								url :$$pageContextPath + 'ep/roles/removeZH',
								data : dataArr,
								params : {
									roleCode : vm.roleCode
								},
								success : vm.onsavecomplete
							});
					　　　},function(){});
					}
				}, 
				addZH : function(response,b,c){
					var checked = ajaxgrid2.getCheckedRecords();
					if (checked.length <= 0) {
						setRM("alert", "请选择要添加的记录!");
					}else{
						$.confirm("提示","确定要添加选中的记录？",function(){
							var gridData = ajaxgrid2.collectData(true, "checked");
							var dataArr = [];
							dataArr.push(gridData);
							$.request({
								url :$$pageContextPath + 'ep/roles/addZH',
								data : dataArr,
								params : {
									roleCode : vm.roleCode
								},
								success : vm.onsavecomplete
							});
					　　　},function(){});
					}
				}, 
				onsavecomplete : function(response){
					setRM("success",response.getMessage(),vm.flushAll());
				},
				queryPeople : function(){
					var gridData = ajaxgrid2.collectData(true) ;
					var dataArr = [];
					var orgId = selOrgId.getSelectedNode();
					if(orgId != null)
						orgId = orgId.code;
					dataArr.push(gridData) ;
					$.request({
						url : $$pageContextPath + 'ep/roles/queryPeople',
						data : dataArr,
					 	params:{
					 		roleCode : vm.roleCode,
					 		orgId : orgId,
					 		personName : this.input
					 	}, 
						success : function(response){
							ajaxgrid2.setData(response.getAjaxDataWrap("dataWrap2"));
						}
					});		
				},
				flushAll : function(){
					$.request({
						url : $$pageContextPath + 'ep/roles/flushAll',
					 	params:{
					 		roleCode : vm.roleCode
					 	}, 
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap1"));
							ajaxgrid2.setData(response.getAjaxDataWrap("dataWrap2"));
						}
					});	
				}
			}
		});  
	</script>
</body>
</html>