<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
		<hy-filllayout rows="*" :showborder="true" :showpadding="false"> 
			<hy-fillarea title="重置密码">
				<table>
	              <tr> 
					<td align="right" width="120px" height="60px">请输入新密码</td>
					<td align="left" width="240px" height="60px"><hy-input v-model="input" type="password"></hy-input></td>
	          	 </tr>
	          	 <tr>
					<td align="right" width="120px" height="60px">请再次输入新密码</td>
					<td align="left" width="240px" height="60px"><hy-input v-model="input2" type="password"></hy-input></td>
	             </tr>
	             <tr>
					<td align="right" width="120px" height="60px"></td>
					<td align="right" width="120px" height="60px"><hy-button text="保存" @click="save"></hy-button></td>
	             </tr>
	            </table>
			</hy-fillarea>
		</hy-filllayout>
	</div>
</body>
<script th:inline="javascript">
	var vm = new Vue({
		el : "#app",
		data : {
			input : "",
			input2 : ""
		},
		mounted : function(){
		},
		methods : {	
			save : function(){
				if(this.input != this.input2 )
					return setRM("alert","密码不一致");
				if(this.input == "" || this.input2 == "")
					return setRM("alert","新密码不能为空");
				$.request({
					url : $$pageContextPath + "jt/ep/userAccount/savePassword",
					params : {
						loginId : vm.loginId,
						newPass : this.input
					},
					success : function(response) {
						setRM(function() {
							$.close(response)
						})
					}
				});
			}
		}
	});
	</script>
</html>