<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>超期</title>
<template th:substituteby="framework/pageset.html"></template>
<script th:src="@{/nqi/common.js}"></script>
<script th:src="@{/nqi/wpinfo.js}"></script>
</head>
<body>
	<div id="app" view>
		<hy-filllayout rows="45,*" :showborder="true"  :showpadding="false"> 
			<hy-fillarea>
				<table>
			       <tr>
			     	<td align="right" width="80px">信息标题</td> <td width="120px" align="left"><hy-input name="dataWrap.query.infoTitle_LIKE"  :upload="true"  ></hy-input> </td>
			        <td align="right" width="80">发布部门</td>
					<td width="120" align="left"><hy-droptree name="dataWrap.query.createOrg"  :highlight-current="true"  valueprovider="com.haiyisoft.hr.org.tree.HrOrgBasicTree" :upload="true" /></td>		
			        <td>
				        <hy-button text="查询" @click="query"></hy-button>	
						<hy-button text="添加" @click="add"></hy-button>	
						<hy-button text="删除" @click="remove"></hy-button>	</td>
			        <tr/>
			    </table>
			</hy-fillarea> 
			<hy-fillarea >
				 <hy-table border name="dataWrap" id="ajaxgrid" showpage :readonly="true" height="100%" @queryfunc="query" titlealign="center" style="width: 100%">
					<hy-table-column title="序号" align="center" width="40" type="index"></hy-table-column>
					<hy-table-column title="多选" align="center" type="selection"></hy-table-column> 
					<hy-table-column title="业务分类"  name="bizClassify" align="center"	width="200" type="drop" dropname="ZS.YWFL"></hy-table-column> 
					<hy-table-column title="维护单位"  name="createOrg" type="drop" dropname="ORG.ORG_PARTY_NAME" align="center"  width="100"></hy-table-column> 
					<hy-table-column title="上传时间"  name="createTime"   width="150"></hy-table-column> 
					<hy-table-column title="设备状态"  name=deviceState align="center" width="80"   ></hy-table-column> 
					<hy-table-column title="维护人"  name="createMan"  width="100" type="drop" dropname="ORG.PERSON_NAME"></hy-table-column> 
					<hy-table-column  title="操作"  width="200" align="center">
						<template scope="scope">
							 <a href="javascript:void(0)" @click="detail(scope.row)">详细</a>&nbsp;
							 <a href="javascript:void(0)" @click="item(scope.row)">明细</a>&nbsp;
							 <a href="javascript:void(0)" @click="display(scope.row)">浏览</a>&nbsp;
							 <a href="javascript:void(0)" @click="istop(scope.row)" v-if="scope.row.isTop=='Y'?false:true">置顶</a>&nbsp;
							 <a href="javascript:void(0)" @click="nottop(scope.row)" v-if="scope.row.isTop=='Y'?true:false">取消置顶</a>&nbsp;
						</template>
					</hy-table-column>
				</hy-table> 
			</hy-fillarea>
		</hy-filllayout>
	</div>
</body>
</html>
<script>
	var vm = new Vue({
		el : "#app",
		data : {

		},
		mounted : function() {
			ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
		},
		methods : {
			query : function() {
				Query('/web/notify/query?type=2&menuId=' + vm.menuId);
			},
			istop : Istop,
			nottop : NotTop,
			add : Add,
			remove : Remove,
			detail : DetailWithType,
			display : Display,
			item : Item
		}
	});

	function Item(row) {
		$.showModalDialog($$pageContextPath + 'jdj/outDevice/?outId='+row.id, "名细", null, null, 1200, 800, 0);
	}
</script>