<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<template th:substituteby="framework/pageset.html"></template>
</head>
<body>
	<div id="app" view>
			<hy-filllayout rows="toolh,*" :showborder="false"  :showpadding="false"> 
			<hy-fillarea :display="editFlag=='Y'?'block':'none'">
				<hy-button text="添加" @click="add"></hy-button>	
				<hy-button text="删除" @click="remove"></hy-button>	
			</hy-fillarea>
			<hy-fillarea >
		          <hy-table border name="dataWrap"
						id="ajaxgrid" showpage :readonly="true" height="100%"
						@queryfunc="query" titlealign="center" style="width: 100%">
						<hy-table-column title="序号" align="center" type="index"></hy-table-column>
						<hy-table-column title="多选" align="center"  type="selection"></hy-table-column> 
						<hy-table-column title="代码"  name="warnCode" align="center"	width="90"  ></hy-table-column> 
						<hy-table-column title="消息名称"  name="warnName" align="center"	width="160"  ></hy-table-column> 
						<hy-table-column title="列名1"  name="colName1" align="center" width="150" ></hy-table-column> 
						<hy-table-column title="列名2"  name="colName2" align="center" width="150" ></hy-table-column> 
						<hy-table-column title="描述"  name="describe" align="center" width="150" ></hy-table-column> 
						<hy-table-column title="消息类型"  name="msgType" align="center" width="150" type="drop" dropname="JT.MSG_TYPE" ></hy-table-column> 
						<hy-table-column
					      title="操作"
					      width="100" align="center">
					      <template scope="scope">
					     	 <a href="javascript:void(0)" @click="detail(scope.row)">详情</a>&nbsp;
					     	 <a href="javascript:void(0)" @click="warnParam(scope.row)">参数</a>&nbsp;
					      </template>
					    </hy-table-column>
					</hy-table> 
		      </hy-fillarea>
		</hy-filllayout>
	</div>
	<script th:inline="javascript">
		var vm = new Vue({
			el : "#app",
			data : {
				code : null
			},
			mounted : function(){
				ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
			},
			methods : {				
				query : function(){
					var gridData = ajaxgrid.collectData(true) ;
					var dataArr = [];
					dataArr.push(gridData) ;
					$.request({
						url : $$pageContextPath + 'jt/comWarn/query',
						data : dataArr,
						params:{"msgClass":this.msgClass},
						success : function(response){
							ajaxgrid.setData(response.getAjaxDataWrap("dataWrap"));
						}
					});					
				},
				add : function(){
					 $.popWindow({
							url: $$pageContextPath + 'jt/comWarn/pageGet?editFlag=Y',
							title: "详细",
							callback: vm.query,
							css:{width:800,height:500},
							button:0,
							isRunCallback :true
						});
				},
				remove : function(){
					dataDel(ajaxgrid,$$pageContextPath + 'jt/comWarn/remove',function(){
						vm.query();
					});
					
				},
				detail : function(row){
					$.popWindow({
						url: $$pageContextPath + 'jt/comWarn/pageGet?editFlag=Y&id='+row.id,
						title: "详细",
						callback:  vm.query,
						css:{width:800,height:500},
						button:0,
						isRunCallback :true
					});
				},
				warnParam : function(row){
					$.popWindow({
						url: $$pageContextPath + 'jt/comWarnFactor/?editFlag=Y&warnId='+row.id,
						title: "预警参数",
						callback:  vm.query,
						css:{width:900,height:600},
						button:0,
						isRunCallback :true
					});
				},
			}
			
		});
	</script>
</body>
</html>